

.envido-container {
 border-radius: 6%;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    -webkit-box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.29);
    background: linear-gradient(135deg, rgba(158, 178, 214, 0.233), rgba(255, 255, 255, 0.1));
   border: 1px solid rgba(255, 255, 255, 0.2);
  
}

.accordion-menu {
  width: 35%;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
    background-color: #0f5a08; 
     backdrop-filter: blur(4px);

}

.accordion-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-menu li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
}

.accordion-menu li:hover {
  background-color: #eee;
}

.accordion-menu li.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.accordion-content {
 
  width: 65%;
  padding: 25px;
      background-color: #0f5a083d; 
     backdrop-filter: blur(4px);
}

.accordion-content h3 {
  margin-top: 0;
}

.accordion-content ul {
  padding-left: 20px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #00e1ff;
  color: white;
  cursor: pointer;
  font-family: Andale Mono, monospace;
}


button:disabled {
  background-color: #aaa;
  cursor: default;
}
