
<main class="puntos-container">
  <div class="player-box">
    <h2>Jugador 1</h2>
    <h1 class="score">{{ points1 }}</h1>
    <div class="buttons">
      <button (click)="points1 = increment(points1)">AUMENTAR</button>
      <button (click)="points1 = decrement(points1)">DISMINUIR</button>
    </div>
  </div>

  <div class="player-box">
    <h2>Jugador 2</h2>
    <h1 class="score">{{ points2 }}</h1>
    <div class="buttons">
      <button (click)="points2 = increment(points2)">AUMENTAR</button>
      <button (click)="points2 = decrement(points2)">DISMINUIR</button>
    </div>
  </div>
</main>