body {
  background: repeat fixed;
  background-size: 180px;
  background-color: rgba(208, 228, 245, 0.79);
  background-image: url('/E1.png');
  background-repeat: repeat; 
  background-attachment: fixed;
  background-position: 0px 0px;
  min-height: 1vh;
  margin: 0;
}
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }